<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout-without-pagination}">
<head th:replace="admin/fragments/head :: head('Error')"></head>
<body>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">An Error Occurred!</h4>
                    <p th:text="${errorMessage}">Something went wrong.</p>
                    <hr>
                    <button class="btn btn-primary" onclick="history.back()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>