<!--column link-->
<!--<th th:fragment="column_link(link,fieldName,labelName,hiddenCol)" th:classappend="${hiddenCol}" xmlns="http://www.w3.org/1999/xhtml">-->
<!--    <a th:href="@{${link}+${keyword!=null? '?keyword='+ keyword + '&pageNum='+${currentPage}+'?sortField='+${fieldName}+'&sortDir='+${reverseSortDir} : ''}}"-->
<!--       th:title="'click to sort ' + ${labelName} + ' order by '+  ${sortDir=='asc'? 'descending':'ascending'} ">-->
<!--        [[${labelName}]]-->
<!--        <i th:if="${sortField == fieldName}"-->
<!--           th:class="${sortDir=='asc' ?'fa-solid fa-caret-up': 'fa-solid fa-caret-down'}"></i>-->
<!--    </a>-->
<!--</th>-->

<!-- custom.html -->
<!--<th th:fragment="column_link(link, fieldName, labelName, hiddenCol)" th:classappend="${hiddenCol}">-->
<!--    <a th:href="@{${link} + ${keyword != null ? '?keyword=' + keyword + '&pageNum=' + currentPage : '?pageNum=' + currentPage}-->
<!--                  + '&sortField=' + ${fieldName}-->
<!--                  + '&sortDir=' + ${reverseSortDir}}"-->
<!--       th:title="'Click to sort ' + ${labelName} + ' order by ' + ${sortDir == 'asc' ? 'descending' : 'ascending'}">-->
<!--        [[${labelName}]]-->
<!--        <i th:if="${sortField == fieldName}"-->
<!--           th:class="${sortDir == 'asc' ? 'fa fa-caret-up' : 'fa fa-caret-down'}"></i>-->
<!--    </a>-->
<!--</th>-->

<!--Sort link-->
<a th:fragment="sort_link(link, fieldName)" class="sort-icon"
   th:href="@{${link} + ${keyword != null ? '?keyword=' + keyword + '&pageNum=' + currentPage : '?pageNum=' + currentPage} + '&orderBy=' + ${fieldName} + '&direction=' + ${reverseSortDir}}">
    <i class="fa fa-sort"></i>
</a>

<!--Page link-->
<a th:fragment="page_link(link, content, pageNum)" class="page-link"
   th:href="@{${link}
   + ${keyword != null && !keyword.isEmpty() ? '?keyword=' + keyword + '&pageNum=' + pageNum : '?pageNum=' + pageNum}
   + ${sortField != null && sortDir != null ? '&orderBy=' + sortField + '&direction=' + sortDir : ''}}">
    <th:block th:utext="${content}"></th:block>
</a>

<!--<a th:fragment="page_link(link, content, pageNum)" class="page-link"-->
<!--   th:href="@{${link}-->
<!--   + ${category_per_page != null && !category_per_page.isEmpty() ? '?category_per_page=' + category_per_page + '&pageNum=' + pageNum : '?pageNum=' + pageNum}-->
<!--   + ${sortField != null && sortDir != null ? '&orderBy=' + sortField + '&direction=' + sortDir : ''}}">-->
<!--    <th:block th:utext="${content}"></th:block>-->
<!--</a>-->

<!--<a th:fragment="page_link(link, content, pageNum)" class="page-link"-->
<!--   th:href="@{${link}-->
<!--        + (category_per_page != null ? '?category_per_page=' + category_per_page : '')-->
<!--        + (keyword != null ? (category_per_page != null ? '&' : '?') + 'keyword=' + keyword : '')-->
<!--        + (keyword != null || category_per_page != null ? '&' : '?') + 'pageNum=' + pageNum-->
<!--        + (sortField != null && sortDir != null ? '&orderBy=' + sortField + '&direction=' + sortDir : '')}">-->
<!--    <th:block th:utext="${content}"></th:block>-->
<!--</a>-->


<!--<a th:fragment="page_link(link, content, pageNum)" class="page-link"-->
<!--   th:href="@{${link}-->
<!--   + ${category_per_page != null && !category_per_page.isEmpty() ? '?category_per_page=' + category_per_page-->
<!--   + (keyword != null && !keyword.isEmpty() ? '&keyword=' + keyword + '&' : '&') + 'pageNum=' + pageNum-->
<!--   : (keyword != null && !keyword.isEmpty() ? '?keyword=' + keyword + '&' : '?') + 'pageNum=' + pageNum}-->
<!--   + ${sortField != null && sortDir != null ? '&orderBy=' + sortField + '&direction=' + sortDir : ''}}">-->
<!--    <th:block th:utext="${content}"></th:block>-->
<!--</a>-->

<!--1: Có category_per_page-->
<!--    ?category_per_page=5-->
<!--     1.1: Có keyword-->
<!--        ?category_per_page=5&keyword=test&pageNum=2-->
<!--     1.2: Không có keyword-->
<!--        ?category_per_page=5&pageNum=2-->

<!--2: Không có category_per_page-->
<!--     2.1: Có keyword-->
<!--        ?keyword=test&pageNum=2-->
<!--     2.2: Không có keyword-->
<!--        ?pageNum=2-->

